<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다음 동영상의 다음 동영상의 다음 동영상</title>
  
  <link rel="stylesheet" href="css/style.css" type="text/css" />

</head>



<body>
<div id = "header-holder">
    <header>
      <div>
        <a href = "index.html">
          <svg width="150px" height="25px" viewBox="0 0 195 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="header-copy" transform="translate(000000, -89)">
                          <g id="Group" transform="translate(0, 0.000000)">
                              <g id="youtube_red" transform="translate(0.000000, 89.000000)">
                                  <path d="M55.3844769,6.10235294 C54.7323468,3.71647059 52.8225372,1.83529412 50.4003397,1.19294118 C45.9751713,0 28.2744974,0 28.2744974,0 C28.2744974,0 10.5738236,0 6.14865513,1.14705882 C3.77303837,1.78941176 1.81664811,3.71647059 1.16451802,6.10235294 C0,10.4611765 0,19.5 0,19.5 C0,19.5 0,28.5847059 1.16451802,32.8976471 C1.81664811,35.2835294 3.72645765,37.1647059 6.14865513,37.8070588 C10.6204043,39 28.2744974,39 28.2744974,39 C28.2744974,39 45.9751713,39 50.4003397,37.8529412 C52.8225372,37.2105882 54.7323468,35.3294118 55.3844769,32.9435294 C56.5489949,28.5847059 56.5489949,19.5458824 56.5489949,19.5458824 C56.5489949,19.5458824 56.5955756,10.4611765 55.3844769,6.10235294 Z" id="Path" fill="#FF0000"></path>
                                  <polygon id="Path" fill="#FFFFFF" points="22.6382302 27.8505882 37.357738 19.5 22.6382302 11.1494118"></polygon>
                              </g>
                              <path d="M70.2568293,108.765 L69.8518293,107.235 L69.5818293,107.235 L69.5818293,126 L65.1268293,126 L65.1268293,92.925 L69.4468293,92.925 L74.1718293,110.16 L74.5768293,111.69 L74.8468293,111.69 L74.8468293,92.925 L79.3018293,92.925 L79.3018293,126 L74.9818293,126 L70.2568293,108.765 Z M94.2868293,117.18 L94.2868293,120.015 C94.1518293,122.4 93.4318293,124.065 91.8118293,125.37 C91.0018293,126.045 89.8768293,126.36 88.3918293,126.36 C85.4668293,126.36 83.9818293,124.74 83.2618293,123.12 C82.8568293,122.175 82.5868293,121.095 82.5418293,119.88 L82.5418293,107.505 C82.6768293,105.12 83.4418293,103.365 85.0618293,102.015 C85.8268293,101.34 86.9518293,101.025 88.4368293,101.025 C91.3618293,101.025 92.8468293,102.645 93.5668293,104.22 C93.9718293,105.165 94.2418293,106.2 94.2868293,107.37 L94.2868293,114.525 L86.7718293,114.525 L86.7718293,119.88 C86.8168293,120.825 87.0868293,121.5 87.4918293,121.995 C87.7168293,122.22 88.0318293,122.355 88.4368293,122.355 C89.2918293,122.355 89.6968293,121.815 89.8768293,121.14 C90.0118293,120.78 90.0568293,120.375 90.0568293,119.88 L90.0568293,117.18 L94.2868293,117.18 Z M86.7718293,110.97 L90.0568293,110.97 L90.0568293,107.505 C90.0568293,106.56 89.8768293,105.885 89.4268293,105.345 C89.2018293,105.12 88.8418293,104.985 88.4368293,104.985 C87.5818293,104.985 87.2218293,105.57 86.9968293,106.245 C86.8618293,106.605 86.8168293,107.01 86.7718293,107.505 L86.7718293,110.97 Z M100.181829,113.31 L96.3118293,101.385 L100.586829,101.385 L102.206829,107.145 L102.341829,107.82 L102.431829,107.82 L102.566829,107.145 L104.186829,101.385 L108.461829,101.385 L104.591829,113.31 L108.821829,126 L104.411829,126 L102.566829,119.79 L102.431829,119.115 L102.341829,119.115 L102.206829,119.79 L100.361829,126 L95.9518293,126 L100.181829,113.31 Z M116.471829,95.31 L116.471829,101.385 L119.576829,101.385 L119.576829,105.48 L116.471829,105.48 L116.471829,117.72 C116.471829,118.485 116.471829,119.475 116.651829,120.285 C116.831829,121.095 117.191829,121.77 117.911829,121.77 C118.271829,121.77 118.721829,121.725 119.036829,121.68 C119.216829,121.635 119.396829,121.635 119.576829,121.59 L119.576829,126.045 C119.351829,126.09 119.126829,126.18 118.901829,126.225 C118.451829,126.315 117.866829,126.36 117.146829,126.36 C114.491829,126.36 113.231829,125.01 112.601829,123.3 C111.971829,121.59 111.926829,119.52 111.926829,118.08 L111.926829,105.48 L109.631829,105.48 L109.631829,101.385 L111.926829,101.385 L111.926829,95.31 L116.471829,95.31 Z M121.376829,121.005 L126.101829,121.005 L126.101829,126 L121.376829,126 L121.376829,121.005 Z M137.891829,92.925 L142.616829,92.925 L137.576829,126 L132.716829,126 L127.676829,92.925 L132.401829,92.925 L134.831829,111.105 L135.011829,112.5 L135.281829,112.5 L135.461829,111.105 L137.891829,92.925 Z M144.821829,92.925 L149.366829,92.925 L149.366829,97.47 L144.821829,97.47 L144.821829,92.925 Z M144.821829,126 L144.821829,101.385 L149.366829,101.385 L149.366829,126 L144.821829,126 Z M164.441829,126 L159.896829,126 L159.896829,124.38 C159.131829,125.1 158.456829,125.64 157.601829,126.045 C157.151829,126.27 156.701829,126.36 156.296829,126.36 C155.036829,126.36 154.181829,125.64 153.641829,124.695 C153.056829,123.795 152.786829,122.58 152.786829,121.545 L152.786829,105.84 C152.786829,104.805 153.056829,103.59 153.641829,102.645 C154.181829,101.745 155.036829,101.025 156.296829,101.025 C157.151829,101.025 158.051829,101.52 158.726829,102.015 C159.131829,102.33 159.491829,102.645 159.896829,103.005 L159.896829,92.925 L164.441829,92.925 L164.441829,126 Z M159.896829,106.785 C159.896829,106.065 159.221829,105.3 158.546829,105.3 C157.871829,105.3 157.331829,105.93 157.331829,106.785 L157.331829,120.6 C157.331829,121.455 157.871829,122.085 158.546829,122.085 C159.221829,122.085 159.896829,121.455 159.896829,120.6 L159.896829,106.785 Z M179.426829,117.18 L179.426829,120.015 C179.291829,122.4 178.571829,124.065 176.951829,125.37 C176.141829,126.045 175.016829,126.36 173.531829,126.36 C170.606829,126.36 169.121829,124.74 168.401829,123.12 C167.996829,122.175 167.726829,121.095 167.681829,119.88 L167.681829,107.505 C167.816829,105.12 168.581829,103.365 170.201829,102.015 C170.966829,101.34 172.091829,101.025 173.576829,101.025 C176.501829,101.025 177.986829,102.645 178.706829,104.22 C179.111829,105.165 179.381829,106.2 179.426829,107.37 L179.426829,114.525 L171.911829,114.525 L171.911829,119.88 C171.956829,120.825 172.226829,121.5 172.631829,121.995 C172.856829,122.22 173.171829,122.355 173.576829,122.355 C174.431829,122.355 174.836829,121.815 175.016829,121.14 C175.151829,120.78 175.196829,120.375 175.196829,119.88 L175.196829,117.18 L179.426829,117.18 Z M171.911829,110.97 L175.196829,110.97 L175.196829,107.505 C175.196829,106.56 175.016829,105.885 174.566829,105.345 C174.341829,105.12 173.981829,104.985 173.576829,104.985 C172.721829,104.985 172.361829,105.57 172.136829,106.245 C172.001829,106.605 171.956829,107.01 171.911829,107.505 L171.911829,110.97 Z M193.781829,120.015 C193.646829,122.4 192.926829,124.065 191.351829,125.37 C190.541829,126.045 189.416829,126.36 187.931829,126.36 C185.006829,126.36 183.566829,124.74 182.846829,123.12 C182.441829,122.175 182.171829,121.095 182.126829,119.88 L182.126829,107.505 C182.261829,105.12 182.981829,103.365 184.556829,102.015 C185.321829,101.34 186.446829,101.025 187.931829,101.025 C190.856829,101.025 192.341829,102.645 193.061829,104.22 C193.466829,105.165 193.736829,106.2 193.781829,107.37 L193.781829,120.015 Z M189.506829,107.505 C189.551829,106.56 189.371829,105.885 188.921829,105.345 C188.696829,105.12 188.336829,104.985 187.931829,104.985 C187.076829,104.985 186.716829,105.57 186.536829,106.245 C186.401829,106.605 186.356829,107.01 186.401829,107.505 L186.401829,119.88 C186.356829,120.825 186.581829,121.5 186.986829,121.995 C187.211829,122.22 187.526829,122.355 187.931829,122.355 C188.786829,122.355 189.191829,121.815 189.371829,121.14 C189.506829,120.78 189.551829,120.375 189.506829,119.88 L189.506829,107.505 Z" id="Next.Video" fill="#282828"></path>
                          </g>
                      </g>
              </g>
          </svg>
      </a>
      </div>
      

      <div id="about">
        <div class = "cell">프로젝트 소개</div>
      </div>

  </header>
</div>

<div id="main-holder">
  <main>
    
  <div class="step">
    <h1>youtube.nextnextnext.video</h1>
    <h2>다음 동영상의 다음 동영상의 다음 동영상</h2>
    <p class="description">
    유튜브는 동영상 재생시 “다음 동영상”을 끊임없이 추천해준다. 이전 동영상과 관련성있었던 다음 동영상은 점점 연쇄를 거듭하면서 처음 시작점과 관계없는 동영상으로 나아가거나, 끊임없이 돌거나 한다. 사용자는 원하는 검색어를 직접 입력해 시각화된 유튜브의 추천 연쇄작용을 “테스트”해볼 수 있다. 검색어의 맨 처음 검색결과는 원점에서 가깝게 배치되고, 이후에 그 검색결과의 동영상에서 추천된 다음 동영상은 더 멀게 배치된다. 여러번 추천된 동영상일 수록 경로가 겹치게 된다. 
    <br><br>
    python을 이용해 유튜브 웹사이트를 크롤링(웹페이지를 그대로 가져와 데이터를 추출하는 것)하여 어떤 검색어의 검색 결과의 영상 목록과 그 것의 추천 동영상들을 수집하고, 이를 javaScript p5.js 라이브러리를 이용해 시각적으로 보여주는 코드를 작성했다. 이를 이용해 직접 검색하고 결과를 확인할 수 있는 웹사이트를 만들었다.
    </p>
    <p class="description">
      Youtube endlessly recommend the next video when the video played. The next video become unrelated with the very first video when the recommendation keep repeated. When the video which had been already shown before is recommended, the next video chain will be stopped at the screen. The user can search their own keyword and test the visualization of the recommended next video chain. The first result of the search keyword located close to the starting point and moves farther when the recommendation chain depth is deeper. If the video is recommended several times, the nodes will be overlaped. The data of the search keyword's results and their recommended next videos has been crawled with Ruby and visualized by p5.js.
    </p>
  </div>
    <div class="step">
      <img src="img/200ppi/youtube_search.jpg" class="info"></img>
      <p class="introduction">① 유튜브에 검색어를 입력한다.<br>Search the keyword on Youtube.</p>
      <div class="svg-holder1">
          <svg width="71px" height="444px" viewBox="0 0 71 444" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
              <title>Group 3 Copy</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Group-3-Copy" transform="translate(16.551939, 222.648598) rotate(29.000000) translate(-16.551939, -222.648598) translate(-79.448061, 22.648598)" stroke="#14CDB4" stroke-width="1.5">
                      <path d="M0,0 C70.3570528,-0.234118253 213.011709,313.164787 189.390478,400" id="Stroke-1"></path>
                      <polyline id="Stroke-1" points="142.139 174 139.162 186.737 127 182.809"></polyline>
                  </g>
              </g>
          </svg>
</div>
    </div>
    
    <div class="step">
      <img src="img/200ppi/youtube_result.jpg" class="info"></img>
      <p class="introduction">② 검색어에 따른 검색 결과가 나온다.<br>The results of the keyword are shown.</p>
      <div class="svg-holder2">
         <svg width="507px" height="444px" viewBox="0 0 507 444" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
            <title>Group 4</title>
            <desc>Created with Sketch.</desc>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-4" transform="translate(-107.854028, 0.618389)" stroke-width="1.5">
                    <g id="Group-3" transform="translate(421.854028, 6.381611)" stroke="#CBC433">
                        <path d="M0,0 C70.3570528,-0.234118253 213.011709,313.164787 189.390478,400" id="Stroke-1"></path>
                        <polyline id="Stroke-1" points="142.139 174 139.162 186.737 127 182.809"></polyline>
                    </g>
                    <g id="Group-3-Copy" transform="translate(360.405968, 222.030210) rotate(29.000000) translate(-360.405968, -222.030210) translate(264.405968, 22.030210)" stroke="#14CDB4">
                        <path d="M0,0 C70.3570528,-0.234118253 213.011709,313.164787 189.390478,400" id="Stroke-1"></path>
                        <polyline id="Stroke-1" points="142.139 174 139.162 186.737 127 182.809"></polyline>
                    </g>
                    <g id="Group-3-Copy-2" transform="translate(219.000000, 200.000000) rotate(55.000000) translate(-219.000000, -200.000000) translate(123.000000, 0.000000)" stroke="#CC4A26">
                        <path d="M0,0 C70.3570528,-0.234118253 213.011709,313.164787 189.390478,400" id="Stroke-1"></path>
                        <polyline id="Stroke-1" points="142.139 174 139.162 186.737 127 182.809"></polyline>
                    </g>
                </g>
            </g>
        </svg>
     
     </div>
    </div>
    
    <div class="step">
      <div class="img-holder">
        <img src="img/200ppi/a1.jpg" class="nextVideo"></img>
        <img src="img/200ppi/b1.jpg" class="nextVideo"></img>
        <img src="img/200ppi/c1.jpg" class="nextVideo"></img>
      </div>
      <p class="introduction">③ 그 검색 결과의 영상들에서 추천된 다음 동영상을 연다.<br>Open the recommended next videos from the results.</p>

      <div class="svg-holder3">
          <svg width="623px" height="624px" viewBox="0 0 623 624" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Group 4 Copy</title>
            <desc>Created with Sketch.</desc>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-4-Copy" transform="translate(-210.854028, -1.000000)" stroke-width="1.5">
                    <g id="Group-3" transform="translate(765.381015, 301.208959) rotate(27.000000) translate(-765.381015, -301.208959) translate(640.381015, 41.208959)" stroke="#CBC433">
                        <path d="M-1.8189894e-12,-6.13908924e-12 C91.6107458,-0.304353729 277.358996,407.114224 246.602185,520" id="Stroke-1"></path>
                        <polyline id="Stroke-1" points="180.214542 220.687753 177.068231 234.687753 164.214542 230.370253"></polyline>
                    </g>
                    <g id="Group-3-Copy" transform="translate(498.935668, 337.813833) rotate(29.000000) translate(-498.935668, -337.813833) translate(373.435668, 77.313833)" stroke="#14CDB4">
                        <path d="M0.518851594,0.702404623 C92.1295974,0.398050894 277.877847,407.816628 247.121037,520.702405" id="Stroke-1"></path>
                        <polyline id="Stroke-1" points="172 203.499382 168.853689 217.499382 156 213.181882"></polyline>
                    </g>
                    <g id="Group-3-Copy-2" transform="translate(241.825851, 288.424523) rotate(31.000000) translate(-241.825851, -288.424523) translate(116.325851, 27.924523)" stroke="#CC4A26">
                        <path d="M0.820544953,0.978767513 C92.4312907,0.674413784 278.179541,408.092991 247.42273,520.978768" id="Stroke-1"></path>
                        <polyline id="Stroke-1" points="185.282418 231.008926 182.136107 245.008926 169.282418 240.691426"></polyline>
                    </g>
                </g>
            </g>
        </svg>
    </div>
  </div>
      
    <div class="step">
      <div class="img-holder">
        <img src="img/200ppi/a2.jpg" class="nextVideo"></img>
        <img src="img/200ppi/b2.jpg" class="nextVideo"></img>
        <img src="img/200ppi/b3.jpg" class="nextVideo"></img>
      </div>
      <p class="introduction">④ 다시 추천된 동영상의 다음 동영상을 연다.<br>Open again the recommended videos from the previous recommended videos.</p>
      
      <div class="svg-holder4">
      <svg width="540px" height="605px" viewBox="0 0 540 605" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
        <title>Group 4 Copy 2</title>
        <desc>Created with Sketch.</desc>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group-4-Copy-2" transform="translate(-108.854028, 0.000000)" stroke-width="1.5">
                <g id="Group-3" transform="translate(548.210961, 295.853881) rotate(42.000000) translate(-548.210961, -295.853881) translate(423.210961, 35.853881)" stroke="#CBC433">
                    <path d="M-1.8189894e-12,-6.13908924e-12 C91.6107458,-0.304353729 277.358996,407.114224 246.602185,520" id="Stroke-1"></path>
                    <polyline id="Stroke-1" points="180.362404 221.902893 177.412737 234.902893 165.362404 230.893786"></polyline>
                </g>
                <g id="Group-3-Copy" transform="translate(291.490709, 303.527490) rotate(41.000000) translate(-291.490709, -303.527490) translate(154.990709, 20.527490)" stroke="#14CDB4">
                    <path d="M0.00145605575,0.896952522 C99.6739475,0.56626049 301.768044,443.242215 268.304633,565.896953" id="Stroke-1"></path>
                    <polyline id="Stroke-1" points="186.742024 222.98829 183.595713 235.98829 170.742024 231.979182"></polyline>
                </g>
                <g id="Group-3-Copy-2" transform="translate(177.270851, 286.661555) rotate(12.000000) translate(-177.270851, -286.661555) translate(51.770851, 26.161555)" stroke="#CC4A26">
                    <path d="M0.820544953,0.978767513 C92.4312907,0.674413784 278.179541,408.092991 247.42273,520.978768" id="Stroke-1"></path>
                    <polyline id="Stroke-1" points="185 232.739006 182.246978 244.739006 171 241.038292"></polyline>
                </g>
            </g>
        </g>
    </svg>
      </div>
    </div>
    
    <div class="step">
      <div class="img-holder">
        <img src="img/100ppi/a3.jpg" class="nextVideo"></img>
        <img src="img/100ppi/b3.jpg" class="nextVideo"></img>
      </div>
      <p class="introduction">⑤ 반복한다.<br>Repeat it.</p>
      <div class="svg-holder5">
      <svg width="375px" height="645px" viewBox="0 0 375 645" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com -->
          <title>Group 4 Copy 3</title>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-4-Copy-3" transform="translate(-171.854028, -2.000000)" stroke-width="1.5">
                  <g id="Group-3" transform="translate(480.593766, 316.640262) rotate(20.000000) translate(-480.593766, -316.640262) translate(355.593766, 56.640262)" stroke="#CBC433">
                      <path d="M-1.8189894e-12,-6.13908924e-12 C91.6107458,-0.304353729 277.358996,407.114224 246.602185,520" id="Stroke-1"></path>
                      <polyline id="Stroke-1" points="180.362404 221.902893 177.412737 234.902893 165.362404 230.893786"></polyline>
                  </g>
                  <g id="Group-3-Copy" transform="translate(253.490709, 334.527490) rotate(27.000000) translate(-253.490709, -334.527490) translate(116.990709, 51.527490)" stroke="#14CDB4">
                      <path d="M0.00145605575,0.896952522 C99.6739475,0.56626049 301.768044,443.242215 268.304633,565.896953" id="Stroke-1"></path>
                      <polyline id="Stroke-1" points="186.742024 222.98829 183.595713 235.98829 170.742024 231.979182"></polyline>
                  </g>
                  <g id="Group-3-Copy" transform="translate(243.490709, 314.527490) rotate(205.000000) translate(-243.490709, -314.527490) translate(106.990709, 31.527490)" stroke="#14CDB4">
                      <path d="M0.00145605575,0.896952522 C99.6739475,0.56626049 301.768044,443.242215 268.304633,565.896953" id="Stroke-1"></path>
                      <polyline id="Stroke-1" points="186.742024 222.98829 183.595713 235.98829 170.742024 231.979182"></polyline>
                  </g>
                  <g id="Group-3-Copy-2" transform="translate(367.653879, 330.846459) rotate(1.000000) translate(-367.653879, -330.846459) translate(228.153879, 40.846459)" stroke="#CC4A26">
                      <path d="M0.820544953,0.978767513 C102.691694,0.639881342 309.243748,454.284797 275.042175,579.978768" id="Stroke-1"></path>
                      <polyline id="Stroke-1" points="207.352091 263.394783 204.20578 277.394783 191.352091 273.077283"></polyline>
                  </g>
              </g>
          </g>
      </svg>
      </div>
    </div>
    
    <div class="step">
      <div class="img-holder">
        <img src="img/200ppi/a4.jpg" class="nextVideo"></img>
        <img src="img/200ppi/b4.jpg" class="nextVideo"></img>
      </div>
      <p class="introduction">⑥ 이전에 추천된 동영상이 나올시 멈춘다.<br>If the previously recommended video is shown, the process stops.</p>

    </div>
   
    
    <p class="footnote top">
    _______________ Design & Programming
    <br><br>
    박정수 Jungsue Park ___________________<br>
    jsparkk7510@gmail.com	_______________<br>
    @marxil_park_   ________________________</p>  
    
    <p class="footnote">
      Data Crawling __________________ Ruby <br>
      Visualization ____________________ p5.js <br>
      Web Server ____________________ AWS EC2 <br>
      Database ______________________ mysql <br>
      <br>
      Special thanks to AJ, Jeemyeong Lee, Daesan
        </p>
  </main>
</div>
    

</body>
</html>
