<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다음 동영상의 다음 동영상의 다음 동영상</title>
  
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/114x114.png">
  <link rel="apple-touch-icon" sizes="150x150" href="/icon/150x150.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/16x16.png">
  <meta name="msapplication-TileColor" content="#ff0000">
  <meta name="msapplication-TileImage" content="icon/144x144.png">
  <meta name="theme-color" content="#ff0000">
  
  <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="/libraries/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="/js/Dom.js"></script>
  <script language="javascript" type="text/javascript" src="/js/Edge.js"></script>
  <script language="javascript" type="text/javascript" src="/js/addFunc.js"></script>
  <script language="javascript" type="text/javascript" src="/js/loadData.js"></script>
  <script language="javascript" type="text/javascript" src="/js/node.js"></script>
  <script language="javascript" type="text/javascript" src="/js/p5_dom.js"></script>
  <script language="javascript" type="text/javascript" src="/js/setting.js"></script>
  <script language="javascript" type="text/javascript" src="/js/main.js"></script>
  <script language="javascript" type="text/javascript" src="/js/p5.svg.js"></script>

  <link rel="stylesheet" href="css/style.css" type="text/css" />

</head>



<body>
  
  




<div id = "header-holder"> 
    <header>
      <div>
        <a href = "#">
          <svg width="150px" height="25px" viewBox="0 0 195 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="header-copy" transform="translate(000000, -89)">
                          <g id="Group" transform="translate(0, 0.000000)">
                              <g id="youtube_red" transform="translate(0.000000, 89.000000)">
                                  <path d="M55.3844769,6.10235294 C54.7323468,3.71647059 52.8225372,1.83529412 50.4003397,1.19294118 C45.9751713,0 28.2744974,0 28.2744974,0 C28.2744974,0 10.5738236,0 6.14865513,1.14705882 C3.77303837,1.78941176 1.81664811,3.71647059 1.16451802,6.10235294 C0,10.4611765 0,19.5 0,19.5 C0,19.5 0,28.5847059 1.16451802,32.8976471 C1.81664811,35.2835294 3.72645765,37.1647059 6.14865513,37.8070588 C10.6204043,39 28.2744974,39 28.2744974,39 C28.2744974,39 45.9751713,39 50.4003397,37.8529412 C52.8225372,37.2105882 54.7323468,35.3294118 55.3844769,32.9435294 C56.5489949,28.5847059 56.5489949,19.5458824 56.5489949,19.5458824 C56.5489949,19.5458824 56.5955756,10.4611765 55.3844769,6.10235294 Z" id="Path" fill="#FF0000"></path>
                                  <polygon id="Path" fill="#FFFFFF" points="22.6382302 27.8505882 37.357738 19.5 22.6382302 11.1494118"></polygon>
                              </g>
                              <path d="M70.2568293,108.765 L69.8518293,107.235 L69.5818293,107.235 L69.5818293,126 L65.1268293,126 L65.1268293,92.925 L69.4468293,92.925 L74.1718293,110.16 L74.5768293,111.69 L74.8468293,111.69 L74.8468293,92.925 L79.3018293,92.925 L79.3018293,126 L74.9818293,126 L70.2568293,108.765 Z M94.2868293,117.18 L94.2868293,120.015 C94.1518293,122.4 93.4318293,124.065 91.8118293,125.37 C91.0018293,126.045 89.8768293,126.36 88.3918293,126.36 C85.4668293,126.36 83.9818293,124.74 83.2618293,123.12 C82.8568293,122.175 82.5868293,121.095 82.5418293,119.88 L82.5418293,107.505 C82.6768293,105.12 83.4418293,103.365 85.0618293,102.015 C85.8268293,101.34 86.9518293,101.025 88.4368293,101.025 C91.3618293,101.025 92.8468293,102.645 93.5668293,104.22 C93.9718293,105.165 94.2418293,106.2 94.2868293,107.37 L94.2868293,114.525 L86.7718293,114.525 L86.7718293,119.88 C86.8168293,120.825 87.0868293,121.5 87.4918293,121.995 C87.7168293,122.22 88.0318293,122.355 88.4368293,122.355 C89.2918293,122.355 89.6968293,121.815 89.8768293,121.14 C90.0118293,120.78 90.0568293,120.375 90.0568293,119.88 L90.0568293,117.18 L94.2868293,117.18 Z M86.7718293,110.97 L90.0568293,110.97 L90.0568293,107.505 C90.0568293,106.56 89.8768293,105.885 89.4268293,105.345 C89.2018293,105.12 88.8418293,104.985 88.4368293,104.985 C87.5818293,104.985 87.2218293,105.57 86.9968293,106.245 C86.8618293,106.605 86.8168293,107.01 86.7718293,107.505 L86.7718293,110.97 Z M100.181829,113.31 L96.3118293,101.385 L100.586829,101.385 L102.206829,107.145 L102.341829,107.82 L102.431829,107.82 L102.566829,107.145 L104.186829,101.385 L108.461829,101.385 L104.591829,113.31 L108.821829,126 L104.411829,126 L102.566829,119.79 L102.431829,119.115 L102.341829,119.115 L102.206829,119.79 L100.361829,126 L95.9518293,126 L100.181829,113.31 Z M116.471829,95.31 L116.471829,101.385 L119.576829,101.385 L119.576829,105.48 L116.471829,105.48 L116.471829,117.72 C116.471829,118.485 116.471829,119.475 116.651829,120.285 C116.831829,121.095 117.191829,121.77 117.911829,121.77 C118.271829,121.77 118.721829,121.725 119.036829,121.68 C119.216829,121.635 119.396829,121.635 119.576829,121.59 L119.576829,126.045 C119.351829,126.09 119.126829,126.18 118.901829,126.225 C118.451829,126.315 117.866829,126.36 117.146829,126.36 C114.491829,126.36 113.231829,125.01 112.601829,123.3 C111.971829,121.59 111.926829,119.52 111.926829,118.08 L111.926829,105.48 L109.631829,105.48 L109.631829,101.385 L111.926829,101.385 L111.926829,95.31 L116.471829,95.31 Z M121.376829,121.005 L126.101829,121.005 L126.101829,126 L121.376829,126 L121.376829,121.005 Z M137.891829,92.925 L142.616829,92.925 L137.576829,126 L132.716829,126 L127.676829,92.925 L132.401829,92.925 L134.831829,111.105 L135.011829,112.5 L135.281829,112.5 L135.461829,111.105 L137.891829,92.925 Z M144.821829,92.925 L149.366829,92.925 L149.366829,97.47 L144.821829,97.47 L144.821829,92.925 Z M144.821829,126 L144.821829,101.385 L149.366829,101.385 L149.366829,126 L144.821829,126 Z M164.441829,126 L159.896829,126 L159.896829,124.38 C159.131829,125.1 158.456829,125.64 157.601829,126.045 C157.151829,126.27 156.701829,126.36 156.296829,126.36 C155.036829,126.36 154.181829,125.64 153.641829,124.695 C153.056829,123.795 152.786829,122.58 152.786829,121.545 L152.786829,105.84 C152.786829,104.805 153.056829,103.59 153.641829,102.645 C154.181829,101.745 155.036829,101.025 156.296829,101.025 C157.151829,101.025 158.051829,101.52 158.726829,102.015 C159.131829,102.33 159.491829,102.645 159.896829,103.005 L159.896829,92.925 L164.441829,92.925 L164.441829,126 Z M159.896829,106.785 C159.896829,106.065 159.221829,105.3 158.546829,105.3 C157.871829,105.3 157.331829,105.93 157.331829,106.785 L157.331829,120.6 C157.331829,121.455 157.871829,122.085 158.546829,122.085 C159.221829,122.085 159.896829,121.455 159.896829,120.6 L159.896829,106.785 Z M179.426829,117.18 L179.426829,120.015 C179.291829,122.4 178.571829,124.065 176.951829,125.37 C176.141829,126.045 175.016829,126.36 173.531829,126.36 C170.606829,126.36 169.121829,124.74 168.401829,123.12 C167.996829,122.175 167.726829,121.095 167.681829,119.88 L167.681829,107.505 C167.816829,105.12 168.581829,103.365 170.201829,102.015 C170.966829,101.34 172.091829,101.025 173.576829,101.025 C176.501829,101.025 177.986829,102.645 178.706829,104.22 C179.111829,105.165 179.381829,106.2 179.426829,107.37 L179.426829,114.525 L171.911829,114.525 L171.911829,119.88 C171.956829,120.825 172.226829,121.5 172.631829,121.995 C172.856829,122.22 173.171829,122.355 173.576829,122.355 C174.431829,122.355 174.836829,121.815 175.016829,121.14 C175.151829,120.78 175.196829,120.375 175.196829,119.88 L175.196829,117.18 L179.426829,117.18 Z M171.911829,110.97 L175.196829,110.97 L175.196829,107.505 C175.196829,106.56 175.016829,105.885 174.566829,105.345 C174.341829,105.12 173.981829,104.985 173.576829,104.985 C172.721829,104.985 172.361829,105.57 172.136829,106.245 C172.001829,106.605 171.956829,107.01 171.911829,107.505 L171.911829,110.97 Z M193.781829,120.015 C193.646829,122.4 192.926829,124.065 191.351829,125.37 C190.541829,126.045 189.416829,126.36 187.931829,126.36 C185.006829,126.36 183.566829,124.74 182.846829,123.12 C182.441829,122.175 182.171829,121.095 182.126829,119.88 L182.126829,107.505 C182.261829,105.12 182.981829,103.365 184.556829,102.015 C185.321829,101.34 186.446829,101.025 187.931829,101.025 C190.856829,101.025 192.341829,102.645 193.061829,104.22 C193.466829,105.165 193.736829,106.2 193.781829,107.37 L193.781829,120.015 Z M189.506829,107.505 C189.551829,106.56 189.371829,105.885 188.921829,105.345 C188.696829,105.12 188.336829,104.985 187.931829,104.985 C187.076829,104.985 186.716829,105.57 186.536829,106.245 C186.401829,106.605 186.356829,107.01 186.401829,107.505 L186.401829,119.88 C186.356829,120.825 186.581829,121.5 186.986829,121.995 C187.211829,122.22 187.526829,122.355 187.931829,122.355 C188.786829,122.355 189.191829,121.815 189.371829,121.14 C189.506829,120.78 189.551829,120.375 189.506829,119.88 L189.506829,107.505 Z" id="Next.Video" fill="#282828"></path>
                          </g>
                      </g>
              </g>
          </svg>
      </a>
      </div>
      

      
      <div id="form">
        <input type="text" id="ip" placeholder="Search the keyword to visualize the <next video> network "/>
    <!--    <input type="number" id="rn" placeholder="rn" value="20"/>
        <input type="number" id="rt" placeholder="rt" value="9"/>
        -->
        <button id="submit">
          
        <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <path d="M11.4369354,5.93768224 L10.7105775,5.93768224 L10.4580903,6.18832542 C11.3500286,7.22840318 11.89251,8.57675376 11.89251,10.054085 C11.89251,13.3380596 9.23041738,16 5.946255,16 C2.66209262,16 0,13.3380596 0,10.054085 C0,6.77011034 2.66209262,4.10816992 5.946255,4.10816992 C7.42367067,4.10816992 8.77118353,4.64970556 9.81132075,5.54067806 L10.0638079,5.29003488 L10.0638079,4.565548 L14.6360206,0 L16,1.36390144 L11.4369354,5.93768224 L11.4369354,5.93768224 Z M5.92592593,5.92592593 C3.63430453,5.92592593 1.77777778,7.78245267 1.77777778,10.0740741 C1.77777778,12.3647737 3.63430453,14.2222222 5.92592593,14.2222222 C8.21662551,14.2222222 10.0740741,12.3647737 10.0740741,10.0740741 C10.0740741,7.78245267 8.21662551,5.92592593 5.92592593,5.92592593 L5.92592593,5.92592593 Z" id="path-1"></path>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Icon-/-Search-/-Outlined-Copy">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <use id="Mask" fill="#828282" transform="translate(8.000000, 8.000000) scale(1, -1) translate(-8.000000, -8.000000) " xlink:href="#path-1"></use>
                </g>
            </g>
        </svg>
          
        </button>
      </div>

      <div id="about">
        <div class = "cell"><a href="/about">프로젝트 소개</a></div>
      </div>

  </header>
</div>

<aside>
  <div class="menu-info">CURRENT</div>
  <div id="search-title"></div>
  <div class="menu-info">HISTORY</div>
  <ul id="list" style="overscroll-behavior:none"> 

  </ul>
</aside>

    
    
    <div id = "visual-holder">
    <div class="visual">
    </div>
    
    <iframe id = "information" src="http://youtube.nextnextnext.video/about" frameborder="0"></iframe>
    <div id = "loading">
        <div class="loader"></div>
      <!--  <h1>Loading...</h1> -->
    </div>
    
  </div>
  
    <div id="video-holder"> 
      <div id="video">
      </div>
      
      <div id="info-holder">
        <div id="label"></div>
        <div id="category"></div>
        <div id="description"></div>
      </div>
    
    </div>
    






  


<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('video', {
      height: '360',
      width: '640',
      videoId: 'yAoLSRbwxL8',
      autoplay:0,
      controls:0,
      disablekb:1
      //showinfo:0,
    });
  }

</script>


</body>
</html>
